html * {
  font-family: monospace !important;
  font-size: 15px;
}

html, body {
  margin-left: 5px;
  margin-right: 5px;
  height: 100%;
  overflow: hidden;
}

.main-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 85vh;
  margin-left: 15%;
  margin-right: 15%;
}

.textarea, .quote, .timer, .account-href {
  margin-top: 15px;
}

span {
  font-size: 20px;
  user-select: none !important;
}

textarea {
  font-size: 10px;
  height: 8.5px;
  resize: none;
  outline: none;
  border: none;
  overflow: hidden;
}

.completed-input {
  visibility: hidden;
}

.incomplete {
  color: #d3d3d3;
}

.correct {
  color: black;
}

.incorrect {
  color: red;
  text-decoration: line-through;
}

.current {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 10px;
}

nav {
  position: sticky;
  top: 10px;
  z-index: 9999;
}

ul {  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.start, .login, .create {
  margin-top: 15px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 10px;
  min-width: 10px;
  min-height: 25px;
  border: none;
  color: #fff;
  background-color: #4f545c;

}

.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 75vh;
}
