.main-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  font-family: monospace;
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

.textarea {
  width: 75%;
  margin-top: 15px;
}

textarea {
  width: 100%;
  height: 75px;
  resize: none;
  outline: none;
  border: none;
}

.quote {
  margin-top: 15px;
  user-select: none;
}

.incomplete {
  color: #d3d3d3;
}

.correct {
  color: black;
}

.incorrect {
  color: red;
  text-decoration: line-through;
}

.current {
  text-decoration: underline;
}

.button-container,
.timer {
  margin-top: 15px;
}

::-webkit-scrollbar {
  display: none;
}

.link-desc,
.link {
  font-size: 15px;
}

/* temp styling for table */

table {
  font-size: 15px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* for button!
.start {

} 
*/
